/* ================================ PAGE LAYOUT ================================ */

.sh-phone-scr {
    grid-template-rows: 9vh auto 1fr 11vh;
}

/* --- HEADER --- */

/* .sh-page-header {
    display: none;
} */

/* .sh-page-header .left ,
.sh-page-header .right {
    visibility: hidden;
} */

/* .sh-coin-and-trade-type {
    padding-bottom: 5px;
} */

/* --- BODY --- */

.sh-page-body {
    padding: 0 20px;
}

/* --- FOOTER --- */

/* .sh-page-footer {
    display: none;
} */

.sh-page-footer .sh-nav-bar {
    display: none;
}

/* .sh-page-footer .sh-submit-btn {
    display: none;
} */

/* ================================ PAGE-COMMON ================================ */

/* ================================ CSS ================================ */

.sh-calculate-board,
.sh-warning-line {
    margin-top: 20px;
}
