/* ================================ PAGE LAYOUT ================================ */

/* .sh-phone-scr{
    grid-template-rows: 9vh 1fr 11vh;
} */

/* --- HEADER --- */

/* .sh-page-header {
    display: none;
} */

/* .sh-page-header .left ,
.sh-page-header .right {
    visibility: hidden;
} */

/* --- BODY --- */

.sh-page-body {
    padding: 0 20px;
}

/* --- FOOTER --- */

/* .sh-page-footer {
    display: none;
} */

/* .sh-page-footer .sh-nav-bar {
    display: none;
} */

/* .sh-page-footer .sh-submit-btn {
    display: none;
} */

/* ================================ PAGE-COMMON ================================ */

/* ================================ CSS ================================ */

.board {
    margin-top: 50px;
}

.board .input-block {
    background-color: white;
    margin-bottom: 10px;
}

.board .input-block .plc-holder {
    font-size: 1.3rem;
    color: var(--text-light-gray);
}
